table, tr {
    border: 1px solid;
  }
  
  table {
    width: 90%;
    border-collapse: collapse;
    margin-left: auto; 
    margin-right: auto;
    margin: 50px 50px 105px 50px;
      
  }
  th{
      text-align: left;
      padding: 15px;
  }
  td{
    padding: 15px;
  }
  label{
    text-transform:lowercase;
  }
  h1{
    padding-left:50px;
  }
  column.id{
    padding-left:50px;
  }
  span.lable{
    padding-left:50px;
    
    

  }